# Btk Lecture Start

This works follow btk class.

In [3]:
## Numbers 5 and 23 integer. 5.0 and 3,14 float
print(type(3.14))
print(type(5))

<class 'float'>
<class 'int'>

In [7]:
## Mathematic Operants
print(2+3)
print(2-3)
print(2*3)
print(2/3)

print(2**3) # Power
print(2%3)  # Mod
print(2//3) # Round

5
-1
6
0.6666666666666666
8
2
0

In [13]:
## Variables
""" Rules 
1.Dont start numbers
2.Dont use some name
3.Have key sensitiv 
4.Dont use turkish character.
5.Dont use space
"""
print(5000-(5000*0.27))
print("--"*30)
maasali=5000
maasahmet=4000
vergi=0.27
print(maasali-(maasali*vergi))
print(maasahmet-(maasahmet*vergi))

3650.0
------------------------------------------------------------
3650.0
2920.0

In [16]:
## Sample
"""
Müşteri Adı
Müşteri Soyadı
Müşteri Cinsiyet
Müşteri TC Numarası
Müşteri Doğum Yılı
Müşteri Adresi
Müşteri Yaşı
"""
adi="Ali"
soyadi="Yılmaz"
adsoyadi=adi+soyadi
cins=True #Male Erkek
tcnum="1231233344"
dogum=1989
adres="İstanbul Kadıköy"
yasi=2020-dogum
"""
Calculate Order
1 ==>110
2 ==>1100.5
3 ==>356.95
"""
order1 = 110
order2 = 1100.5
order3 = 356.95
print("Total = ", order1+order2+order3 )

Total =  1567.45

In [20]:
## Data Conversion
#Str to int conversion
x =input("1. Sayı")
y =input("2. Sayı")
topla=int(x)+int(y)
print(topla)
print("--"*30)
a=5             
b=2.5
name="Çınar"
isonline=True

print(float(a))       # İnt to float
print(int(b))         # Float to int
print(int(isonline))  # Bool to int result 0 or 1

1. Sayı35
2. Sayı34
69
------------------------------------------------------------
5.0
2
1

In [21]:
## Sample 
"""
   Daire alanı : pi * r *r
   Daire çevresi : 2 * pi *r
   (pi = 3.14)
"""
pi=3.14
yaricap=input("Yarıçap Girin : ")
alan=pi*(float(yaricap)**2)
cevre=2*pi*float(yaricap)
print("Alan ", alan)
print("Çevre ", cevre)

Yarıçap Girin : 25
Alan  1962.5
Çevre  157.0

In [19]:
## String Type 

name= "Sadık"
surname="Turan"
age=36
greeting="My name is" + name + " " + surname + " and \n I am " + str(age)+ " Years old"
print(greeting)
print(len(greeting))
print(greeting[0])
print(greeting[3])
print(greeting[len(greeting)-1])
print(greeting[3:7])

# String Format
name= "Çınar"
surname = "Turan"
age = 36
print("My name is {} {}".format(name,surname))
print("My name is {1} {0}".format(name,surname))
print("My name is {} {} and i'm {} years old.".format(name,surname,age)) # Passed integer eror.

result=200/700
print("The Result is {r:1.3}".format(r=result))

print(f"My name is {name} {surname} and i'm {age} years old.")

My name isSadık Turan and
 I am 36 Years old
45
M
n
d
name
My name is Çınar Turan
My name is Turan Çınar
My name is Çınar Turan and i'm 36 years old.
The Result is 0.286
My name is Çınar Turan and i'm 36 years old.

In [40]:
## Sample 
website = "http://www.sadikturan.com"
course  = "Python Kursu: Baştan Sona Python Programlama Rehberiniz (40 saat)"
"""
1. Course karakter dizisinde kaç eleman bulunmaktadır. 
2. website içinden www karakterlerini alın. 
3. website içinden com karakterlerini alın. 
4. course içinden ilk 15 ve son 15 karakteri alın. 
5. course ifadesindeki karakteri tersten yazdırın. 
"""
print(len(course))                      #1. Cevap
print(website[7:10])                    #2. Cevap
print(website[-3:])                     #3. Cevap
print(course[:15]+"-->"+course[-15:])   #4. Cevap
print(course[::-1])                     #5. Cevap
print("--"*30)
name, surname, age, job ="Bora","Yılmaz",32,"Mühendis"
s="Hello world"
"""
6. Yukarıda verilen değişkenler ile ekrana aşağıdaki ifadeyi yazıdırın.
--> Benim adım Bora Yılmaz, Yaşım 32 ve mesleğim Mühendis.
7. Hello world ifadesindeki w harfini W ile değiştirelim.
"""
print(f"Benim adım {name} {surname}, Yaşım {age} ve mesleğim {job}") #6. Cevap
print(s.replace("w","W"))                                            #7. Cevap

65
www
com
Python Kursu: B-->riniz (40 saat)
)taas 04( zinirebheR amalmargorP nohtyP anoS natşaB :usruK nohtyP
------------------------------------------------------------
Benim adım Bora Yılmaz, Yaşım 32 ve mesleğim Mühendis
Hello World

In [61]:
## String Metods 
messege="Hello There. My name is Timuçin AYDOĞDU"
print(messege)
print("--"*30)
print(messege.upper()+" Upper")
print(messege.lower()+" Lower")
print(messege.title()+" Title")
print(messege.capitalize()+" Capitalize")
print(messege.strip()+" Strip") # Delete space stort and end
print(messege.split(" ")," Split")
print(messege.find("Timuçin"))
print(messege.startswith("H"))
print(messege.replace(" ","--"))
print(messege.center(50,"*"))

Hello There. My name is Timuçin AYDOĞDU
------------------------------------------------------------
HELLO THERE. MY NAME IS TIMUÇIN AYDOĞDU Upper
hello there. my name is timuçin aydoğdu Lower
Hello There. My Name Is Timuçin Aydoğdu Title
Hello there. my name is timuçin aydoğdu Capitalize
Hello There. My name is Timuçin AYDOĞDU Strip
['Hello', 'There.', 'My', 'name', 'is', 'Timuçin', 'AYDOĞDU']  Split
24
True
Hello--There.--My--name--is--Timuçin--AYDOĞDU
*****Hello There. My name is Timuçin AYDOĞDU******

In [81]:
## Sample
result  = " Hello World "
website = "http://www.sadikturan.com"
course  = "Python Kursu: Baştan Sona Python Programlama Rehberiniz (40 saat)"
"""
1. " Hello World " karakter dizisinin başındaki ve sonundaki boşlukları silin.
2. "www.sadikturan.com" içindeki sadikturan bilgisi haricindeki her karakteri silin.
3. course karakter dizisinin tüm karakterlerini küçük harf yapın. 
4. website içinde kaç tane a karakteri vardır. 
5. website içinde "www" ile başlayıp ".com" ifadesi ile bitiyor mu ?
6. website içinde ".com" ifadesi var mı ? 
7. course içindeki karakterlerin hepsi alfabetik mi ? 
8. "Contents" ifadesinin satırda 50 karakter içine yerleştirip sağ ve soluna * ekleyin.
9. course karakter dizisindeki tüm boşlukları "-" ile değiştirin.
10.Hello World karakter dizisinin World ifadesini There olarak değiştirin. 
11.course karakter dizisini boşluklarından ayırın. 
"""
print(result.strip())                  # 1. Cevap
print(website.strip("htp://w.com"))    # 2. Cevap
print(course.lower())                  # 3. Cevap
print(website.count("a"))              # 4. Cevap
print(website.startswith("www"))
print(website.endswith(".com"))        # 5. Cevap
print(website.find(".com"))            # 6. Cevap
print(course.isalpha())                # 7. Cevap
print("Contents".center(50,"*"))       # 8. Cevap
print(course.replace(" ","*"))         # 9. Cevap
print(result.replace("World","There")) # 10.Cevap
print(course.split(" "))               # 11.Cevap

Hello World
sadikturan
python kursu: baştan sona python programlama rehberiniz (40 saat)
2
False
True
21
False
*********************Contents*********************
Python*Kursu:*Baştan*Sona*Python*Programlama*Rehberiniz*(40*saat)
 Hello There
['Python', 'Kursu:', 'Baştan', 'Sona', 'Python', 'Programlama', 'Rehberiniz', '(40', 'saat)']

In [47]:
## Lists
my_list =[1,2,3]
list1 = ["one","two","there"]
list2 = ["four","five","six"]
list3 = list1 + list2
print(my_list)
print(list3)
print(len(list3))
print(list3[3])

userA = ["Timuçin",36]
userB = ["Simay",2]
users = [userA,userB]
print(users)

numbers = [1,10,5,16,4,9,10]
letters = ['a','g','s','b','y','a','s']
minus = min(numbers)
maxim = max(numbers)
print(minus)
print(maxim)
minus = min(letters)
maxim = max(letters)
print(minus)
print(maxim)
lists= numbers[:3]
print(lists)
numbers[4] = 40 
print(numbers)
numbers.append(49)
print(numbers)
numbers.insert(3,78)
print(numbers)
numbers.pop()
print(numbers)
numbers.remove(5)
print(numbers)
numbers.sort()
letters.sort()
print(numbers)
print(letters)
numbers.reverse()
print(numbers)
print(len(numbers))
print(len(letters))
print(letters.count("a"))
numbers.clear()
print(numbers)

[1, 2, 3]
['one', 'two', 'there', 'four', 'five', 'six']
6
four
[['Timuçin', 36], ['Simay', 2]]
1
16
a
y
[1, 10, 5]
[1, 10, 5, 16, 40, 9, 10]
[1, 10, 5, 16, 40, 9, 10, 49]
[1, 10, 5, 78, 16, 40, 9, 10, 49]
[1, 10, 5, 78, 16, 40, 9, 10]
[1, 10, 78, 16, 40, 9, 10]
[1, 9, 10, 10, 16, 40, 78]
['a', 'a', 'b', 'g', 's', 's', 'y']
[78, 40, 16, 10, 10, 9, 1]
7
7
2
[]

In [30]:
## Lists Sample 
"""
1. 'Bmw, Mercedes, Opel, Mazda' elemanlarına sahip bir liste oluşturunuz.
2. Liste kaç elemanlıdır. 
3. Listenin ilk ve son elemanı nedir. 
4. Mazda değerini Toyota ile değiştirin. 
5. Mersedes listenin bir elemanı mıdır. 
6. Listenin -2 indeksindeki değeri nedir. 
7. Listenin ilk 3 elemanını alın. 
8. Listenin son 2 elemanı yerine 'Toyota' ve 'Renault' değerini ekleyin. 
9. Listenin üzerine 'Audi' ve 'Nissan' değerini ekleyin. 
10 Listenin son elemanını silin. 
11.Liste elemanlarını testten yazdırın. 
12.Aşağıdaki verileri bir liste içinde saklayınız. 
    studentA: Yiğit Bilgi  2010, (70.60,70)
    studentB: Sena  Turan  1999, (80,80,70)
    studentC: Ahmet Turan  1998, (80,70,90)
13.Liste elemanlarını ekrana yazıdırınız. 
    
"""
arabalar=['Bmw', 'Mercedes', 'Opel', 'Mazda']
print(arabalar)                        # 1. cevap
print(len(arabalar))                   # 2. cevap
print(arabalar[0] +" "+ arabalar[-1])  # 3. cevap
arabalar[-1]="Toyota"                  # 4. cevap
print(arabalar)
print("Mercedes"in arabalar)           # 5. cevap
print(arabalar[-2])                    # 6. cevap
print(arabalar[0:3])                   # 7. cevap
arabalar[-2:]=['Toyota','Renault']     # 8. cevap
print(arabalar)                        
arabalar+=['Audi','Nissan']            # 9. cevap
print(arabalar)
del arabalar[-1]                       #10. cevap
print(arabalar)
print(arabalar[::-1])                  #11. cevap
studentA=['Yiğit','Bilgi',2010,[70,60,70]]
studentB=['Sena','Turan',1999,[80,80,70]]
studentC=['Ahmet','Turan',1998,[80,70,90]]
students=[studentA,studentB,studentC]  #13. cevap
print(students)

['Bmw', 'Mercedes', 'Opel', 'Mazda']
4
Bmw Mazda
['Bmw', 'Mercedes', 'Opel', 'Toyota']
True
Opel
['Bmw', 'Mercedes', 'Opel']
['Bmw', 'Mercedes', 'Toyota', 'Renault']
['Bmw', 'Mercedes', 'Toyota', 'Renault', 'Audi', 'Nissan']
['Bmw', 'Mercedes', 'Toyota', 'Renault', 'Audi']
['Audi', 'Renault', 'Toyota', 'Mercedes', 'Bmw']
[['Yiğit', 'Bilgi', 2010, [70, 60, 70]], ['Sena', 'Turan', 1999, [80, 80, 70]], ['Ahmet', 'Turan', 1998, [80, 70, 90]]]

In [76]:
## Lists Sample 2 
names = ['Ali','Yağmur','Hakan','Deniz']
years = [1998,2000,1998,1987]

"""
1. "Cenk" ismini listenin sonuna ekleyiniz. 
2. "Sena" değerini listenin başına ekleyiniz. 
3. "Deniz" isminin indexsi nedir.  
4. "Deniz" ismini listeden siliniz.
5. "Ali" listenin bir elemanı mıdır ?
6. Liste elemanlarını ters çevirin. 
7. Liste elemanlarını alfabetik olarak sıralayınız. 
8. Years listesin rakamsal büyüklüğe göre sıralayınız. 
9. str = 'Chevrolet,Dacia' karakter dizisini listeye çeviriniz. 
10.years dizisinin en büyük ve en küçük elemanı nedir. 
11.years dizisinde kaç tane 1998 değeri vardır. 
12.years dizisinin tüm elemanlarını siliniz. 
13.Kullanıcıdan alacağınız 3 tane marka bilgisini bir listede saklayınız. 
"""
names.append("Cenk")                  # 1. cevap
print(names)
names.insert(0,"Sena")                # 2. cevap
print(names)
print(names.index('Deniz'))           # 3. cevap
names.remove("Deniz")                 # 4. cevap
print(names)
result = 'Ali' in names               # 5. cevap
print(result)
names.reverse()
print(names)                          # 6. cevap
names.sort()
print(names)                          # 7. cevap
years.sort()
print(years)                          # 8. cevap
str= "Chevrolet,Dacia"
result=str.split(",")                 # 9. cevap
print(result)
minus=min(years)                      # 10.cevap
maxim=max(years)
print(minus)
print(maxim)
result= years.count(1998)             # 11.cevap
print(result)
years.clear()                         # 12.cevap
print(years)
markalar = []

marka=input("1. Marka : ")            # 13.cevap
markalar.append(marka)

marka=input("2. Marka : ")
markalar.append(marka)

marka=input("3. Marka : ") 
markalar.append(marka)

print(markalar)

['Ali', 'Yağmur', 'Hakan', 'Deniz', 'Cenk']
['Sena', 'Ali', 'Yağmur', 'Hakan', 'Deniz', 'Cenk']
4
['Sena', 'Ali', 'Yağmur', 'Hakan', 'Cenk']
True
['Cenk', 'Hakan', 'Yağmur', 'Ali', 'Sena']
['Ali', 'Cenk', 'Hakan', 'Sena', 'Yağmur']
[1987, 1998, 1998, 2000]
['Chevrolet', 'Dacia']
1987
2000
2
[]
1. Marka : Ford
2. Marka : Mazda
3. Marka : Skoda
['Ford', 'Mazda', 'Skoda']