# Btk Lecture Start

This works follow btk class.

In [3]:
## Numbers 5 and 23 integer. 5.0 and 3,14 float
print(type(3.14))
print(type(5))

<class 'float'>
<class 'int'>

In [7]:
## Mathematic Operants
print(2+3)
print(2-3)
print(2*3)
print(2/3)

print(2**3) # Power
print(2%3)  # Mod
print(2//3) # Round

5
-1
6
0.6666666666666666
8
2
0

In [13]:
## Variables
""" Rules 
1.Dont start numbers
2.Dont use some name
3.Have key sensitiv 
4.Dont use turkish character.
5.Dont use space
"""
print(5000-(5000*0.27))
print("--"*30)
maasali=5000
maasahmet=4000
vergi=0.27
print(maasali-(maasali*vergi))
print(maasahmet-(maasahmet*vergi))

3650.0
------------------------------------------------------------
3650.0
2920.0

In [16]:
## Sample
"""
Müşteri Adı
Müşteri Soyadı
Müşteri Cinsiyet
Müşteri TC Numarası
Müşteri Doğum Yılı
Müşteri Adresi
Müşteri Yaşı
"""
adi="Ali"
soyadi="Yılmaz"
adsoyadi=adi+soyadi
cins=True #Male Erkek
tcnum="1231233344"
dogum=1989
adres="İstanbul Kadıköy"
yasi=2020-dogum
"""
Calculate Order
1 ==>110
2 ==>1100.5
3 ==>356.95
"""
order1 = 110
order2 = 1100.5
order3 = 356.95
print("Total = ", order1+order2+order3 )

Total =  1567.45

In [20]:
## Data Conversion
#Str to int conversion
x =input("1. Sayı")
y =input("2. Sayı")
topla=int(x)+int(y)
print(topla)
print("--"*30)
a=5             
b=2.5
name="Çınar"
isonline=True

print(float(a))       # İnt to float
print(int(b))         # Float to int
print(int(isonline))  # Bool to int result 0 or 1

1. Sayı35
2. Sayı34
69
------------------------------------------------------------
5.0
2
1

In [21]:
## Sample 
"""
   Daire alanı : pi * r *r
   Daire çevresi : 2 * pi *r
   (pi = 3.14)
"""
pi=3.14
yaricap=input("Yarıçap Girin : ")
alan=pi*(float(yaricap)**2)
cevre=2*pi*float(yaricap)
print("Alan ", alan)
print("Çevre ", cevre)

Yarıçap Girin : 25
Alan  1962.5
Çevre  157.0