# Btk Lecture Start

This works follow btk class.

In [3]:
## Numbers 5 and 23 integer. 5.0 and 3,14 float
print(type(3.14))
print(type(5))

<class 'float'>
<class 'int'>

In [7]:
## Mathematic Operants
print(2+3)
print(2-3)
print(2*3)
print(2/3)

print(2**3) # Power
print(2%3)  # Mod
print(2//3) # Round

5
-1
6
0.6666666666666666
8
2
0

In [13]:
## Variables
""" Rules 
1.Dont start numbers
2.Dont use some name
3.Have key sensitiv 
4.Dont use turkish character.
5.Dont use space
"""
print(5000-(5000*0.27))
print("--"*30)
maasali=5000
maasahmet=4000
vergi=0.27
print(maasali-(maasali*vergi))
print(maasahmet-(maasahmet*vergi))

3650.0
------------------------------------------------------------
3650.0
2920.0

In [16]:
## Sample
"""
Müşteri Adı
Müşteri Soyadı
Müşteri Cinsiyet
Müşteri TC Numarası
Müşteri Doğum Yılı
Müşteri Adresi
Müşteri Yaşı
"""
adi="Ali"
soyadi="Yılmaz"
adsoyadi=adi+soyadi
cins=True #Male Erkek
tcnum="1231233344"
dogum=1989
adres="İstanbul Kadıköy"
yasi=2020-dogum
"""
Calculate Order
1 ==>110
2 ==>1100.5
3 ==>356.95
"""
order1 = 110
order2 = 1100.5
order3 = 356.95
print("Total = ", order1+order2+order3 )

Total =  1567.45

In [20]:
## Data Conversion
#Str to int conversion
x =input("1. Sayı")
y =input("2. Sayı")
topla=int(x)+int(y)
print(topla)
print("--"*30)
a=5             
b=2.5
name="Çınar"
isonline=True

print(float(a))       # İnt to float
print(int(b))         # Float to int
print(int(isonline))  # Bool to int result 0 or 1

1. Sayı35
2. Sayı34
69
------------------------------------------------------------
5.0
2
1

In [21]:
## Sample 
"""
   Daire alanı : pi * r *r
   Daire çevresi : 2 * pi *r
   (pi = 3.14)
"""
pi=3.14
yaricap=input("Yarıçap Girin : ")
alan=pi*(float(yaricap)**2)
cevre=2*pi*float(yaricap)
print("Alan ", alan)
print("Çevre ", cevre)

Yarıçap Girin : 25
Alan  1962.5
Çevre  157.0

In [19]:
## String Type 

name= "Sadık"
surname="Turan"
age=36
greeting="My name is" + name + " " + surname + " and \n I am " + str(age)+ " Years old"
print(greeting)
print(len(greeting))
print(greeting[0])
print(greeting[3])
print(greeting[len(greeting)-1])
print(greeting[3:7])

# String Format
name= "Çınar"
surname = "Turan"
age = 36
print("My name is {} {}".format(name,surname))
print("My name is {1} {0}".format(name,surname))
print("My name is {} {} and i'm {} years old.".format(name,surname,age)) # Passed integer eror.

result=200/700
print("The Result is {r:1.3}".format(r=result))

print(f"My name is {name} {surname} and i'm {age} years old.")

My name isSadık Turan and
 I am 36 Years old
45
M
n
d
name
My name is Çınar Turan
My name is Turan Çınar
My name is Çınar Turan and i'm 36 years old.
The Result is 0.286
My name is Çınar Turan and i'm 36 years old.

In [40]:
## Sample 
website = "http://www.sadikturan.com"
course  = "Python Kursu: Baştan Sona Python Programlama Rehberiniz (40 saat)"
"""
1. Course karakter dizisinde kaç eleman bulunmaktadır. 
2. website içinden www karakterlerini alın. 
3. website içinden com karakterlerini alın. 
4. course içinden ilk 15 ve son 15 karakteri alın. 
5. course ifadesindeki karakteri tersten yazdırın. 
"""
print(len(course))                      #1. Cevap
print(website[7:10])                    #2. Cevap
print(website[-3:])                     #3. Cevap
print(course[:15]+"-->"+course[-15:])   #4. Cevap
print(course[::-1])                     #5. Cevap
print("--"*30)
name, surname, age, job ="Bora","Yılmaz",32,"Mühendis"
s="Hello world"
"""
6. Yukarıda verilen değişkenler ile ekrana aşağıdaki ifadeyi yazıdırın.
--> Benim adım Bora Yılmaz, Yaşım 32 ve mesleğim Mühendis.
7. Hello world ifadesindeki w harfini W ile değiştirelim.
"""
print(f"Benim adım {name} {surname}, Yaşım {age} ve mesleğim {job}") #6. Cevap
print(s.replace("w","W"))                                            #7. Cevap

65
www
com
Python Kursu: B-->riniz (40 saat)
)taas 04( zinirebheR amalmargorP nohtyP anoS natşaB :usruK nohtyP
------------------------------------------------------------
Benim adım Bora Yılmaz, Yaşım 32 ve mesleğim Mühendis
Hello World

In [61]:
## String Metods 
messege="Hello There. My name is Timuçin AYDOĞDU"
print(messege)
print("--"*30)
print(messege.upper()+" Upper")
print(messege.lower()+" Lower")
print(messege.title()+" Title")
print(messege.capitalize()+" Capitalize")
print(messege.strip()+" Strip") # Delete space stort and end
print(messege.split(" ")," Split")
print(messege.find("Timuçin"))
print(messege.startswith("H"))
print(messege.replace(" ","--"))
print(messege.center(50,"*"))

Hello There. My name is Timuçin AYDOĞDU
------------------------------------------------------------
HELLO THERE. MY NAME IS TIMUÇIN AYDOĞDU Upper
hello there. my name is timuçin aydoğdu Lower
Hello There. My Name Is Timuçin Aydoğdu Title
Hello there. my name is timuçin aydoğdu Capitalize
Hello There. My name is Timuçin AYDOĞDU Strip
['Hello', 'There.', 'My', 'name', 'is', 'Timuçin', 'AYDOĞDU']  Split
24
True
Hello--There.--My--name--is--Timuçin--AYDOĞDU
*****Hello There. My name is Timuçin AYDOĞDU******

In [81]:
## Sample
result  = " Hello World "
website = "http://www.sadikturan.com"
course  = "Python Kursu: Baştan Sona Python Programlama Rehberiniz (40 saat)"
"""
1. " Hello World " karakter dizisinin başındaki ve sonundaki boşlukları silin.
2. "www.sadikturan.com" içindeki sadikturan bilgisi haricindeki her karakteri silin.
3. course karakter dizisinin tüm karakterlerini küçük harf yapın. 
4. website içinde kaç tane a karakteri vardır. 
5. website içinde "www" ile başlayıp ".com" ifadesi ile bitiyor mu ?
6. website içinde ".com" ifadesi var mı ? 
7. course içindeki karakterlerin hepsi alfabetik mi ? 
8. "Contents" ifadesinin satırda 50 karakter içine yerleştirip sağ ve soluna * ekleyin.
9. course karakter dizisindeki tüm boşlukları "-" ile değiştirin.
10.Hello World karakter dizisinin World ifadesini There olarak değiştirin. 
11.course karakter dizisini boşluklarından ayırın. 
"""
print(result.strip())                  # 1. Cevap
print(website.strip("htp://w.com"))    # 2. Cevap
print(course.lower())                  # 3. Cevap
print(website.count("a"))              # 4. Cevap
print(website.startswith("www"))
print(website.endswith(".com"))        # 5. Cevap
print(website.find(".com"))            # 6. Cevap
print(course.isalpha())                # 7. Cevap
print("Contents".center(50,"*"))       # 8. Cevap
print(course.replace(" ","*"))         # 9. Cevap
print(result.replace("World","There")) # 10.Cevap
print(course.split(" "))               # 11.Cevap

Hello World
sadikturan
python kursu: baştan sona python programlama rehberiniz (40 saat)
2
False
True
21
False
*********************Contents*********************
Python*Kursu:*Baştan*Sona*Python*Programlama*Rehberiniz*(40*saat)
 Hello There
['Python', 'Kursu:', 'Baştan', 'Sona', 'Python', 'Programlama', 'Rehberiniz', '(40', 'saat)']

In [ ]:
gggf    fggggfg . fgfgffgğfguie

In [ ]:
fgğeaeeef fgfgf